*{box-sizing:border-box}

#top{border:0px solid black;width:95%;height:600px;margin:auto;background-color:#F5F5F5}

#hed{margin-left:14%;margin-bottom:0%;width:70%}

#im{border:0px solid black;float:left;width:48%;height:434px;margin-top:9%}
img{width:39%;height:439px}
.con{border:0px solid black;height:555px;padding:8px;float:left;margin:1%;width:15%;margin-top:-0.7%;background-color:#F5F5F5}


.con p:first-child{background-color:pink;padding:2px;text-align:center;border:1px solid blue}

.cont{background-color:#F5F5F5}
.on{background-color:violet}



@media screen and (max-width:400px){
#im{border:1px solid black;width:100%;height:auto}
img{width:100%;height:auto}
.con{width:100%;height:auto;}
body{font-size:25px}
}


@media screen and (min-width:401px){
#im{width:100%;height:auto}
img{width:69%;height:auto}
.con{width:100%;height:auto}
body{font-size:25px}}




@media screen and (min-width:600px){
#im{width:100%;height:auto}
img{width:40%;height:auto}
.con{width:100%;height:auto;}
body{font-size:25px}}


@media screen and (min-width:992px){
#im{width:100%;height:auto;margin-top:10%}
img{width:40%;height:auto}
.con{width:100%;height:auto}

}


@media screen and (min-width:1200px){
#im{width:49%;margin-top:14%;}
img{width:39%;height:353px}
.con{width:15%;height:auto;height:540px}
body{font-size:19px}
#top{height:600px}
}

@media screen and (min-width:1300px){
#im{width:49%;margin-top:10%}
img{width:39%;height:387px}
.con{width:15%;height:530px}
body{font-size:17px}

#top{height:600px}
}



